MYSQL_DATABASE=here_database_name
MYSQL_USER=here_user_for_db
WORDPRESS_DB_PASSWORD=here_password
WORDPRESS_DB_HOST=here_db_host:here_port
OPENSSL_SUBJ=/C=here_country/ST=here_state/L=here_locality/O=here_organisation/OU=here_organisation_unit/CN=here_common_name
URL=here_username.here_domain.here_country_code
WORDPRESS_ADMIN_USERNAME=here_admin_username
WORDPRESS_ADMIN_PASSWORD=here_admin_password
WORDPRESS_ADMIN_EMAIL=here_admin_email@domain.com
WORDPRESS_BASIC_USER_USERNAME=here_basic_username
WORDPRESS_BASIC_USER_PASSWORD=here_basic_password
WORDPRESS_BASIC_USER_EMAIL=here_basic_email@domain.com
WP_INSTALL_PATH=/path/of/wordpress
FTP_USERNAME=here_ftp_username
FTP_PASSWORD=here_ftp_password
HOST_DATA_PATH=/here_path
