services:
# Web server : only access from outside
  nginx:
    container_name: nginx
    build: 
      context: ./requirements/nginx
      args:
        OPENSSL_SUBJ: ${OPENSSL_SUBJ:?}
    environment:
        URL: ${URL:?}
    networks:
      - basic-network
    ports:
      - "443:443"
    volumes:
      - volume-web:/website
    depends_on:
      mariadb:
        condition: service_healthy
      wordpress:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fsk https://localhost/ | grep -q . || exit 1"]
      interval: 10s
      timeout: 5s
      start_period: 20s
      retries: 5
    restart: always

# Relational Database (RDBMS)
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - basic-network
    volumes:
      - volume-db:/database
    environment:
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
      MYSQL_DATABASE: ${MYSQL_DATABASE:?}
      MYSQL_USER: ${MYSQL_USER:?}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      start_period: 5s
      retries: 10
    restart: always

# Content Management System (CMS) and PHP-FPM
  wordpress:
    container_name: wordpress
    build: 
      context: ./requirements/wordpress
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST:?}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE:?}
      WORDPRESS_DB_USER: ${MYSQL_USER:?}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
    networks:
      - basic-network
    volumes:
      - volume-web:/website
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pgrep php-fpm && nc -z 127.0.0.1 9000 || exit 1"]
      interval: 5s
      timeout: 5s
      start_period: 10s
      retries: 10
    restart: always

volumes:
  volume-db: #wordpress database : mariadb
    name: "db"
    # external: true
  volume-web: #wordpress website files
    name: "web"
    # external: true

networks:
  basic-network: # Accessible only by ports from nginx
    driver: bridge
    internal: false
