services:
# Web server : only access from outside
  nginx:
    container_name: nginx
    build: 
      context: ./requirements/nginx
      args:
        OPENSSL_SUBJ: ${OPENSSL_SUBJ:?}
    networks:
      - basic-network
    ports:
      - "443:443"
    volumes:
      - volume-web:/website
    depends_on:
      - mariadb
      - wordpress
    restart: always

# Relational Database (RDBMS)
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - basic-network
    volumes:
      - volume-db:/database
    environment:
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
      MYSQL_DATABASE: ${MYSQL_DATABASE:?}
      MYSQL_USER: ${MYSQL_USER:?}
    restart: always

# Content Management System (CMS)
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    networks:
      - basic-network
    volumes:
      - volume-web:/website
    environment:
      WORDPRESS_DB_HOST: ${WORDPRESS_DB_HOST:?}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE:?}
      WORDPRESS_DB_USER: ${MYSQL_USER:?}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
    restart: always

volumes:
  volume-db: #wordpress database : mariadb
    name: "db"
    # external: true
  volume-web: #wordpress website files
    name: "web"
    # external: true

networks:
  basic-network: # Accessible only by ports from nginx
    driver: bridge
    internal: false
